.produkt{display:block}
.buy-modal{
	position:absolute;
	display:block;
	width: 200px;
	height: 122px;
	padding:100px;
	right: 0;
	left: 0;
	top:0;

	margin:auto;
	background:#ddd;
	border-radius:10px
}
.hide{ 
display:none
}